img {
    width: 700px;
    height: 525px;
}
ul{
    list-style-type:disc;
}
#brp{
    font-size: 2.1rem;
    line-height: 2.8rem;
    font-family: FranklinGothicLTPro-DmCm,sans-serif !important;
    margin: 0.8rem 4 4rem;
    font-weight: 700;
}

