@font-face {
    font-family: 'FranklinGoth';
    src: url('../fonts/franklin-gothic-webfont.woff2') format('woff2');
  
}
img {
    width: 700px;
    height: 525px;
}
ul{
    list-style-type:disc;
}

h1{
 font-family: 'FranklinGoth';
}